# virtual env
venv
wenv
.venv

#build
build/
dist/

#compiled sources
*.py[ocd]
__pycache__

# tests
.pytest_cache
htmlcov/
.coverage*
*.coverage
tmp*/

# Egg metadata
*.egg-info
.eggs
.pypirc

# editor/temporary files
.vscode/
.ipynb_checkpoints/


data/
notebooks/

